.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
    padding: 4%;
    margin: 4%;
}

.box {
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content:baseline;
}

.ab-im > img {
    max-width: 80%;
    height: 300px;
}

.imid >a > img {
    padding:10px;
    margin:10px;
}

@media only screen and (min-width: 768px) {
    .about {
        flex-direction: row;
    }

    .ab-im > img {
        max-width: 600px;
        height: 400px;
    }
}
